html,body{
    background-image: url('/images/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;  
    height: 100%;
}


.wrapper{    
    padding-top: 10%;
    display: flex;
    align-content: center;
    justify-content: center;
    padding-bottom: 10%;            
}

.inner{
    background: rgba(0,0,0,0.5);         
    width: 80%;
    height: 80%;
    max-width: 700px;   
    min-height: 400px; 
    text-align: center;
}

.content{   
    text-align: left !important;
    display: flex !important;
    
}

.imageHolder{
    align-content: center;
    justify-content: center;
    display: flex;
    max-width: 200px;
    margin: 40px;
}

.imageHolder img{
    padding-top: 20px;
}

.formWrapper{    
    display: flex;
    text-align: center;
    align-content: initial;
    margin-left: auto;
    margin-right: auto;
}

.formWrapper form{
    padding-top: 25%;
}

.formWrapper #submitButton{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #ffc312;
    color: black;
}

.formWrapper #submitButton:hover{
    background-color: green;
    color: white;
}

.formGroup, .formControl{
    padding-bottom: 12px;
}

@media only screen and (max-width: 600px) {    
    .imageHolder{        
        display: none;
    }
  }

  @media only screen 
and (max-device-height : 400px) {
  /* Styles */
  .wrapper{
      padding-top: 0px;
  }
}

@media only screen 
and (max-device-height : 812px) {
  /* Styles */
  .wrapper{
      padding-top: 0px;
  }

  html,body{
      background-size: auto;
  }
}


p{
    color: honeydew;
}

label{
    color: honeydew;
}





